<html>

<head>
<title>AgriGO
</title>
<meta charset="uft-8" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

<header>
<h3>AgriGO<h3>
<img src="static/Benefits-to-Farmer-under-GST.jpg" alt="image">
</header>
<nav class="topmenu">
        <ul>
            <li style="border-left: medium none;"><a href="/home"></a>Home</li>
            <li><a href="/about"></a>About us</li>
            <li><a href="/index"></a>Inbox</li>
            <li><a href="/report"></a>Report complaint</li>
            <li><a href="/account"></a>Account</li>
            <li><a href="/login"></a>log out</li>
        </ul>
    </nav>
<section>

</section>

<footer>
    </footer>
    </body>
    </html>