<html>

<head>
<title>AgriGO
</title>
<meta charset="uft-8" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

<header class="container">
<img src="static/Benefits-to-Farmer-under-GST.jpg" alt="image" width="100%">
<div class="top-left">
    <font size="150%" face="sans-serif">AgriGO</font>
    </div>
    <div class="center">
            <form action = "/login" method="post">
                <font size="8%">Username: </font><input size="40%" type="text" name="username"/><br>
                <font size="8%">Password: </font><input size="40%" type="password" name="password"/><br>
                <input size="40%" type="submit" value="login" name="login"/><br>
                </form>
                <form action="/register" method="post">
                <button size="40%" type="button" value="Registration" name="signup"/><a href="/register">Registration</a></button><br>
                </form>
    </div>
</div>
</header>

<section>

</section>

<aside>


</aside>

<footer>
</footer>
</body>
</html>
