<html>
    <head>
        <title>AgriGO
        </title>
        <meta charset="uft-8" />
            <link rel="stylesheet" type="text/css" href="static/style.css" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        </head>
<body>
        <header class="container">
                <img src="static/Benefits-to-Farmer-under-GST.jpg" alt="image" width="100%">
                <div class="top-left">
                        <font size="150%" face="sans-serif">AgriGO</font>
                    </div>
                    <div class="center">
                            <form action="/register" method="post">
                                <font size="8%">Username</font><input size="40%" type="text" name="username"/><br>
                                <font size="8%">Password</font><input size="40%" type="password" name="password"/><br>
                                <font size="8%" align="left">Type        <select >
                                    <option value="Single">single Corp</option>
                                    <option value="Multi">Multi Corp</option>
                                </select></font><br>
                                <font size="8%">Details</font><textarea rows="5" cols="30">
                                
                                </textarea><br>
                                <input size="40%" type="submit"/>
                                </form>
                    </div>
                </div>
                </header>
<div>

</div>

<footer>

</footer>

</body>
</html>
