.topmenu ul {
        list-style-type: none;
}
.topmenu ul li {
        display: inline;
        padding: 0px 22px;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: #FFFFFF;
}
.topmenu ul li a {
        font-family: "Times New Roman", Times, serif;
        font-size: 15px;
        font-weight: bold;
        line-height: 30px;
        color: #FFFFFF;
        text-decoration: none;
}
.topmenu ul li a:hover {
        text-decoration: underline;
}

.container{
        position: relative;
        text-align: center;
        color: white;

}

.top-left{
        position: absolute;
        top: 8px;
        left: 16px;
}
.center{
        position: absolute;
        top: 30%;
        left: 60%;

}

